*{
    background: #122562;
}
header{
    text-align: center;
}
h1{
    color: #fdc52c;
    position: relative;
    text-align: center;
    padding-top: 15px;
    text-decoration: underline;
}
#campo{
    border: 3px solid black;
    width: 99.7%; 
    height: 600px;

}
.img-s{
    width: 95px;
    height: 70px;
    float: left;
    padding-top: none;
}
main{
    float: left;
    width: 80%; 
    color: #d4aa36e2;
    text-align: center;
    padding-left: 3%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
    font-size: 20px;
}
.clearfix{
    clear: both;
}
aside{
    float: right;
    width: 15%;
    text-align: center;
    border: 2px solid black;
    border-top: 0px;
    padding-bottom: 2%;
}
#como{ 
    color: #fdc52c;
}
#llegar:hover{
    color: #d4aa36e2;
}
.foto{
    padding-left: 10px;
}

@media (max-width:600px){
    header{
        text-align: center;
    }
    h1{
        color: #fdc52c;
        position: relative;
        text-align: center;
        padding-top: 15px;
        text-decoration: underline;
    }
    #campo{
        width: 90%; 
        height: 300px;
        border: 3px solid black;

    }
    main{
        float: left;
        width: 60%; 
        color: #d4aa36e2;
        text-align: center;
        padding-left: 3%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: justify;
        font-size: small;
    }
    aside{
        float: right;
        width: 35%;
        text-align: center;
        padding-bottom: 2%;
        font-size: small;
        border-top: 0px;
        border-bottom: 0px;
        border-left: 0px;
        border-right: 0px;
        text-decoration: solid black;
    }
    .foto{
        width: 15px;
        height: 15px;
    }
}
@media (max-width:290px){
    h1{
        color: #fdc52c;
        position: relative;
        text-align: center;
        padding-top: 15px;
        text-decoration: underline;
        font-size: smaller;
    }
    #campo{
        width: 90%; 
        height: 200px;
        border: 3px solid black;
    }
    .img-s{
        width: 32px;
        height: 27px;
    }
    .foto{
        width: 10px;
        height: 10px;
    }
    aside{
        float: right;
        width: 35%;
        text-align: center;
        padding-bottom: 2%;
        font-size: x-small;
        border-top: 0px;
        border-bottom: 0px;
        border-left: 0px;
        border-right: 0px;
        text-decoration: solid black;
    }
    main{
        float: left;
        width: 60%; 
        color: #d4aa36e2;
        text-align: center;
        padding-left: 3%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: justify;
        font-size: x-small;
    }
}
